<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    <script src="https://kit.fontawesome.com/a7f53de3cf.js" crossorigin="anonymous"></script>

    
    <title>YouGraph</title>
  </head>

  <header>
      <nav class="navbar navbar-light bg-custom">
      <span class="navbar-brand mb-0 h1">YouGraph 0.1</span>
    </nav>
  </header>