<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-custom border-right" id="sidebar-wrapper">
      <!-- <div class="sidebar-heading">Pucpr - PPGIA</div> -->
      <div class="bg-custom list-group list-group-flush" >
        <a href="/coletar_dados" class="list-group-item list-group-item-action bg-custom">Coletar Dados</a>
        <a href="/tm" class="list-group-item list-group-item-action bg-custom">Tópicos Latentes</a>
        <a href="/grafo" class="list-group-item list-group-item-action bg-custom">Grafos de Conhecimento</a>
        <a href="/dados_base" class="list-group-item list-group-item-action bg-custom">Informações Base</a>
        <a href="/config" class="list-group-item list-group-item-action bg-custom">Configurações</a>
    
      </div>
    </div>