<div class="modal" tabindex="-1" role="dialog" id="modal_treinamento_concluido">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Treinamento Concluído</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">        
            <p><b>Coerência:</b> <span id="span_coerencia">0</span> </p>
            <p><b>Número de Tópicos:</b> <span id="span_num_topicos">10</span> </p>
            <p><b>Data Modelo:</b> <span id="span_data_modelo">10</span> </p>
            Você deseja classificar o corpus com este modelo?

            
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
            <button type="button" class="btn btn-success" id="btn_classificar_corpus">Sim</button>
        </div>
      </div>
    </div>
  </div>